.root {
    margin: 10px auto 0 auto;
    width:375px;
    height: 667px;
    background:#fff;

}
.ban-active {
    -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
    border-color:rgba(141,39,142,.75);
    -webkit-box-shadow:0 0 18px rgba(111,1,32,3);
}